*{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: auto;
}

h1{
    font-size: 4rem;
    margin: 20px;
}

span{
    font-size: 5rem;
    margin-top: 8px;
    font-weight: bold;
}

.btn{
    padding: 20px;
    border-radius: 5px;
    margin: 30px;
    font-size: larger;
    color: white;
    background-color: black;
    cursor: pointer;
}
