*{
    margin: 0;
    padding: 0;
}

.main{
    /* background-color: aqua; */
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
}

img{
    width: 180px;
    border-radius: 100%;
    margin-bottom: 10px;
}

h1{
    text-decoration: underline;
    margin: 15px;
}

p{
    font-size: larger;
    margin: 2px;
}
.info{
    margin: 10px;
}

button{
    background-color: black;
    font-size: small;
    color: white;
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.random-btn{
    padding-left: 15px;
    padding-right: 15px;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.968);
}